<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERROR</title>
</head>
<body>
    <h1>Some <span style="color: red;">Error</span> Occurred</h1>
    <p>Go back <a href="/">home</a>.</p>
</body>
</html>